QToolBar, QMenuBar {
    color : %(base-text)s;
    background-color : rgba%(dark-grey)s;
    border : 1px solid rgb%(mid-grey)s;
}

QToolBar QToolButton, QToolBar QLabel {
    background-color : transparent;
    color : rgb%(base-text)s;
    border : 1px solid rgb%(light-grey)s;
    width: 90;
    height: 30;
}

QMenuBar::item:pressed:!selected, QToolButton:checked {
    background-color : rgb%(yellow)s;
    color : black;
}

QToolButton:checked:hover {
    background-color : rgb%(light-yellow)s;
}

QMenuBar::item:selected, QToolButton:!checked:hover {
    background-color : rgb%(mid-grey)s;
}

QToolBar QLabel {
    color : rgb%(blue)s;
    background-color : transparent;
    border : none;
    padding: 4px 8px 4px 8px;
    qproperty-alignment: AlignCenter;
}
