QComboBox {
    color : rgb%(yellow)s;
    background : rgb%(mid-grey)s;
    selection-color : rgb%(yellow)s;
    selection-background-color: rgb%(mid-grey)s;
    min-height: 20px;
    padding: 1px 6px 1px 6px;
}

QComboBox QLineEdit {
    height: 18px;
    border: none;
}

QComboBox QAbstractItemView {
    color : rgb%(yellow)s;
    background : rgb%(grey)s;
    selection-color: black;
    selection-background-color: rgb%(yellow)s;
    border: 1px solid black;
}

QComboBox:!enabled {
    color : rgb%(light-grey)s;
    background : rgb%(grey)s;
}
