QGroupBox {
    color: rgb%(base-text)s;
    background: none;
    border: 1px solid rgb%(mid-grey)s;
    margin-top: 8px;
}

QGroupBox:disabled {
    color: rgb%(light-grey)s;
}

QGroupBox::title {
  subcontrol-origin: margin;
  padding: 2px 10px;
  left: 10px;
  border: 1px solid rgb%(light-grey)s;
}

QGroupBox::indicator:checked {
    image: url("%(icons-root)s/checkbox_checked.png");
}
QGroupBox::indicator:checked:disabled {
    image: url("%(icons-root)s/checkbox_checked_disabled.png");
}

QGroupBox::indicator:!checked {
    image: url("%(icons-root)s/checkbox_unchecked.png");
}
QGroupBox::indicator:!checked:disabled {
    image: url("%(icons-root)s/checkbox_unchecked_disabled.png");
}

QGroupBox::indicator:checked:hover {
    image: url("%(icons-root)s/checkbox_checked_hover.png");
}
QGroupBox::indicator:!checked:hover {
    image: url("%(icons-root)s/checkbox_unchecked_hover.png");
}
