QScrollBar {
    background-color: rgb%(background)s;
    border: 1px solid rgb%(mid-grey)s;
    padding: 2px;
}
QScrollBar:horizontal {
    bottom: 50px;
    height: 18px;
}
QScrollBar:vertical {
    right: 50px;
    width: 18px;
}

QAbstractScrollArea::corner {
    background: rgb%(grey)s;
}

QScrollBar::handle {
    background-color: rgb%(grey)s;
    border: 1px solid rgb%(light-grey)s;
    border-radius: 1px;
    min-height: 8px;
    min-width: 8px;
    padding: 2px;
}
QScrollBar::handle:horizontal {
    margin-left: 12px;
    margin-right: 12px;
}
QScrollBar::handle:vertical {
    margin-top: 12px;
    margin-bottom: 12px;
}

QScrollBar::handle:hover {
    background-color: rgb%(mid-grey)s;
    border: 1px solid rgb%(light-grey)s;
}
QScrollBar::handle:pressed {
    border: 1px solid rgb%(light)s;
}

QScrollBar::add-line, QScrollBar::sub-line {
  margin: 0px 0px 0px 0px;
  height: 14px;
  width: 14px;
  subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background-color: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background-color: none;
}

QScrollBar::add-line:horizontal {
  border-image: url("%(icons-root)s/arrow_right_disabled.png");
  subcontrol-position: right;
}

QScrollBar::add-line:horizontal:hover:!pressed {
  border-image: url("%(icons-root)s/arrow_right.png");
  subcontrol-position: right;
}

QScrollBar::add-line:vertical {
  border-image: url("%(icons-root)s/arrow_down_disabled.png");
  subcontrol-position: bottom;
}

QScrollBar::add-line:vertical:hover:!pressed  {
  border-image: url("%(icons-root)s/arrow_down.png");
  subcontrol-position: bottom;
}

QScrollBar::sub-line:horizontal {
  border-image: url("%(icons-root)s/arrow_left_disabled.png");
  subcontrol-position: left;
}

QScrollBar::sub-line:horizontal:hover:!pressed {
  border-image: url("%(icons-root)s/arrow_left.png");
  subcontrol-position: left;
}

QScrollBar::sub-line:vertical {
  border-image: url("%(icons-root)s/arrow_up_disabled.png");
  subcontrol-position: top;
}

QScrollBar::sub-line:vertical:hover:!pressed {
  border-image: url("%(icons-root)s/arrow_up.png");
  subcontrol-position: top;
}
