QSplitter::handle {
    background-color: none;
    min-width: 2 px;
    min-height: 2 px;
}

QSplitterHandle:hover {
}

QSplitter::handle:hover {
    background-color: rgb%(grey)s;
}

QMainWindow::separator {
    background-color: none;
    min-width: 2 px;
    min-height: 2 px;
}
QMainWindow::separator:hover {
    background-color: rgb%(grey)s;
}
