QTextEdit, QLineEdit, QPlainTextEdit {
    background-color: rgb%(dark-grey)s;
    color: rgb%(base-text)s;
    border: 1px solid rgb%(mid-grey)s;
    selection-color: black;
    selection-background-color: rgb%(blue)s;
    padding: 2px;
}
